@using DigitalSeal.Web.Models.ViewModels.Account;
@model Login2FAViewModel
@{
    ViewData["Title"] = "2FA Login";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<h2 class="pt-3">Two-Factor Authentication (2FA)</h2>
<hr />
<h6>We have sent you a confirmation code to your email. Please enter it to log in.</h6>
<div class="small-form">
    <form asp-action="@nameof(AccountController.Login2FA)">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="button primary-button form-submit">Login</button>
        </div>
        <input asp-for="ReturnUrl" type="hidden" />
    </form>
</div>

