<div class="send-again-container">
    <h6>Didn't receive the email?</h6>
    <h6 id="send-again-suggestion">Send again in <span id="counter"></span>...</h6>
    <button class="button secondary-button" id="send-again-button" disabled>Send Again</button>
</div>
