<div class="modal fade modal-grid-container" id="signatures-modal" tabindex="-1" aria-labelledby="signatures-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="table-wrapper">
                    <div class="ag-theme-alpine data-grid" id="signature-table"></div>
                </div>
            </div>
            <div class="modal-footer">
                <simple-button title="Close" button-type="Secondary" data-bs-dismiss="modal" />
            </div>
        </div>
    </div>
</div>